ass.3
q1) a user enter the first name,last name, gender and id with 3 numbers then put them in text

In [1]:
x=input("enter afirst name")
y=input("enter alast name")
z=input("enter agender")
r=input("enter id for three num")

enter afirst namethanaa
enter alast nameshenawy
enter agenderfemale
enter id for three num123

In [2]:
f=open('details.txt','w')
f.write(x)
f.write(y)
f.write(z)
f.write(r)
f.close()

f=open("details.txt","r")
print(f.read())
f.close()

thanaashenawyfemale123

q2)Write a function to count the number 4 in a given list

In [109]:
x=[1,4,2]

In [110]:
def count(nums):
    count=0
    for num in nums:
        if num ==4:
            count=count+1
            return count

In [111]:
 print(count(x))

1

q3)write a function to check whether a number is divisible by another number.

In [51]:
def devition(x,y):
    if x%y ==0:
        print('true') 
    else:
        print('false')

In [53]:
 print(devition(5,6))

false
None

write a function to find the maximum and minimum numbers from a sequence of numbers

In [146]:
def find_min(iterable):
...     minimum = iterable[0]
...     for value in iterable[1:]:
...         if value < minimum:
...             minimum = value
...     return minimum
...

>>> find_min([2, 5, 3, 9, 7])

2

In [142]:
def find_max(iterable):
...     maxmum = iterable[0]
...     for value in iterable[1:]:
...         if value > maxmum:
...             maxmum = value
...     return maxmum
...

>>> find_max([2, 5, 3, 1, 9, 7,10])

10

Write a Python function that takes two lists and returns True if they have at least one common member

In [166]:
def data(list1, list2):
     return(len(set(list1) & set(list2)) > 0)
print(data([1,2,3,4,5], [5,6,7,8,9]))

True

Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [167]:
x=int(input('enter a num'))

enter a num5

In [168]:
def factorial(x):
    if x==1:
        return 1
    else:
        return x*factorial(x-1)

In [169]:
factorial(x)

120

Write a Python function to check whether a number is in a given range.Â¶
The range is from 3 to 11

In [186]:
def check(number,start,end):
    if number in range(start,end +1):
        print('yes in range')
        return number
    else:
        print('not in range')

In [199]:
 x=check(4,3,11)

yes in range

In [197]:
print(p)

True

Write a program to create the multiplication table (from 1 to 10) of a number

In [200]:
n = int(input("Input a number: "))

# use for loop to iterate 10 times
for i in range(1,11):
    print(n,'x',i,'=',n*i)

Input a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [ ]:
# def lesser_of_two_evens(a,b):
#     if (a%2==0 and b%2==0):
#         if (a>b):
#             return b
#         else:
#             return a
#     else:
#         if (a>b):
#             return a
#         else:
#             return b
        
# lesser_of_two_evens(2,4)

In [211]:
def lesser_of_two_evens(a,b):
    if(a%2==0 and b%2==0):
        if(a>b):
            return b
        else:
            if(a<b):
                return a
            else:
                return b

In [212]:
lesser_of_two_evens(2,4)

2

In [216]:
def lesser_of_two_evens(a,b):
    if(a%3==0 or b%3==0):
        if(a>b):
            return a
        else:
            if(a<b):
                return b
            else:
                return b

In [219]:
lesser_of_two_evens(1,3)

3