Use for, .split(), and if to create a Statement that will print out words that start with 's':

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [87]:
x=[["Print"],["only"],[ "the"],["words"],["that"],['start '],['with'],["s"],[" in"],["this"],["sentence"]]

In [88]:
x=[litter[0]for litter in x]

In [89]:
x

['Print',
 'only',
 'the',
 'words',
 'that',
 'start ',
 'with',
 's',
 ' in',
 'this',
 'sentence']

Use range() to print all the even numbers from 0 to 10.

In [ ]:
x=range(11)

In [17]:
x

range(0, 11)

In [19]:
for num in x:
    if num %2 ==0:
        print(num)

0
2
4
6
8
10

Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [48]:
x= list(range(1,51))

In [49]:
x

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [50]:
for num in x:
    if num %3 == 0:
        print(num)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

Go through the string below and if the length of a word is even print "even!"

In [37]:
st = 'Print every word in this sentence that has an even number of letters'

In [40]:
z=len(st)

In [41]:
z

68

In [42]:
if z%2 ==0:
    print('even')

even

Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [51]:
x= list(range(1,101))

In [52]:
x

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [55]:
for num in x :
    if num%3==0:
        print('fizz')
    elif num%5==0:
        print('buzz')
    elif num%3==0 and num%5==0:
        print('fizzbuzz')

fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizz
buzz
fizz
fizz
buzz

anather solution '

In [56]:
for num in x :
    if num*3:
        print('fizz')
    elif num*5:
        print('buzz')
    elif num*3 and num*5:
        print('fizzbuzz')

fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz
fizz

Use List Comprehension to create a list of the first letters of every word in the string below:

In [68]:
st = 'Create' 'a list' 'of' 'the' 'first' 'letters' 'of' 'every' 'word' 'in' 'this' 'string'

In [69]:
x= list(st)

In [72]:
x=[["Create"],["a list"],['of'],['the'],['first'],['letters'],['of'],['every'],['word'],['in'],['this'],['string']]

In [75]:
x=[letter[0][0]for letter in x]

In [76]:
x

['C', 'a', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']