LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [13]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a>b:
    return b
else:
    if a>b:
        return a
    else:
        return b

IndentationError: expected an indented block (1843303597.py, line 4)

In [14]:
def lesser_of_two_evens(a,b)
if a%3==0 or b%3==0:
    if a>b:
        return a
    if a<b:
        return b

SyntaxError: invalid syntax (1462729505.py, line 1)

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [14]:
def animal_crackers(text):
word=input('enter a two word seprated by space \n')
animal_crackers=word.split()
if animal_crackers(text)[0][0]==animal_crackers(text)[1][0]:
    print('true')
else:
    print('false')

IndentationError: expected an indented block (308005791.py, line 2)

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [24]:
def integer(num1,num2):
    if num1+num2==20 or num1 or num2 ==20:
        print('true')
    else:
        print('false')

In [25]:
integer(20,10)

true

In [26]:
integer(12,8)

true

In [27]:
integer(2,3)

true

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald
Note: 'macdonald'.capitalize() returns 'Macdonald'

In [48]:
def old_macdonald(name):
    nameletter=name[0]
    fourthletter=name[3]
    newword=[]
    for i,l in enumerate(word):
        if i[0]:
            newword=l.capatalize
            return newword
        if i[3]:
            newword=l.capatalize
            return newword

In [50]:
old_macdonald(macdonald)

NameError: name 'macdonald' is not defined

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

In [1]:
def almost_there(n):
    if n==range(10,100) or n==range(10,200):
        return true

In [2]:
almost_there(104)

In [3]:
almost_there(200)

In [4]:
almost_there(150)

FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [1]:
x=[1,3,3]

In [2]:
def has_33(nums):
    if x[1]==x[2] or x[0]==x[1]: 
        return true

In [5]:
y=[1,3,1,3]

In [6]:
def has_33(nums):
    if y[1]==y[2] or y[0]==y[1]:
        return true
    else:
        return false

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [13]:
def paper_doll(text):
    result=""
for letter in text:
    result+=letter*3
     return result
x="hello"
print(paper_doll(hello)
print(paper_doll('Mississippi'))

IndentationError: unexpected indent (1108384282.py, line 5)

LACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [17]:
def blackjack(a,b,c):
    if a+b+c<=21:
        return a+b+c
    elif a+b+c>21:
        return bust

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [22]:
def summer_69(arr):
    list1=arr
    summ=int()
    for i in range(0,len(arr))
    if 6 in list1:
        listofrange=range(list1.index(6),list1.index(9)+1)
        for index in listofrange:
            print(listofrange)
            arr[index]=0
        if 6 ! =arr[i]:
            summ+=arr[i]:
        else:
            continue
        else:
            summ+=arr[i]
              return summ
        summer_69([1,3,5])
        summer_69([4,5,6,7,8,9])
        summer_69([2,1,6,9,11])

SyntaxError: invalid syntax (3563766815.py, line 4)

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False

In [23]:
def spy_games(arr):
    net=0
    for num in arr:
        if num==0:
            num+=net
            break
            if num==0:
                num+=net
                break 
                if num==7:
                    return true
                else:
                    return false

In [24]:
spy_game([1,2,4,0,0,7,5])

NameError: name 'spy_game' is not defined