string

In [7]:
s = 'hello'
# Print out 'e' using indexing
x=s[1]
print(x)

e

In [5]:
s ='hello'
# Reverse the string using slicing
x=s[::-1]
print(x)
#put it in new variaple with 2 steps from right side

olleh

In [3]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[-1])

o

In [4]:
# Method 2:
s ='hello'
x=s[4]
print(x)

o

lists

In [8]:
# Method 1:
list1=[0,0,0]
print(list1)

[0, 0, 0]

In [9]:
# Method 2:
list2=[0]*3
print(list2)

[0, 0, 0]

In [10]:
list3 = [1,2,[3,4,'hello']] 
list3[2][2]="goodbye"
print(list3)

[1, 2, [3, 4, 'goodbye']]

In [11]:
list4 = [5,3,4,6,1]
print(sorted(list4))

[1, 3, 4, 5, 6]

Dictionaries

In [12]:
d = {'simple_key':'hello'}
# Grab ['hello'
d['simple_key']

'hello'

In [13]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [14]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [15]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
#Grab hello
d['k1'][2]['k2'][1]['tough'][2][0]
#first element of third row of first element of secound row of first element of third row of first row will print hello

'hello'



Given the variables:

planet = "Earth"
diameter = 12742

Use .format() to print the following string:

The diameter of Earth is 12742 kilometers.

In [16]:
planet="earth"
diameter=12742
print("the diameter of {} is {}".format(planet,diameter))
# use format to mension my prackets puted in print

the diameter of earth is 12742

Given this nested list, use indexing to grab the word "hello"

In [17]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]
# forth row of secound row od third row of first row will prent hello

'hello'

Given this nested dictionary grab the word "hello".

In [18]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]
 #first element of forth row of tricky element o forth row of target element of forth row

'hello'

Write a Python program to swap two variables.

In [19]:
s=2
d=4
swp=s #function empty to put swap in
s=d
d=swp
print('s is ',s)
print('d is' ,d)

s is  4
d is 2